import React, { ReactNode } from 'react';

// import { Component } from './{{name}}.styled';
// import { {{name}}TemplateLogic } from './{{name}}.logic';
// import { use{{name}}Template } from './{{name}}.hook';


export default function {{name}}(page: ReactNode) {
    return (
        <div>
            <h1>{{name}}</h1>
            <div>{page}</div>
            - - - - - - - - -
        </div>
    );
};

